html, body {
  width: 100%;
  height: 100%;
  margin: auto;
}


h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-weight: bold;
	text-align: center;
}

div {
  width: auto;
  margin: auto;
}

form {
  	text-align: center;
    width: 100%;
}

h2 {
  display: block;
  text-align: center;
}

#chartdiv {
  width: 90%;
  height: 750px;
	margin: auto;
}


#chartdiv2 {
  width: 90%;
  height: 750px;
	margin: auto;
}

#audiodiv {
  width: 90%;
  height: 50px;
	margin: auto;
}


#audiocontrol {
  width: 100%;
  height: 100%;
	margin: auto;
}


.category1{
  margin-top: 5px;
  background-color: #3498DB;
}

.category2{
  margin-top: 5px;
  background-color: #1ABC9C;
}

.category3{
  margin-top: 5px;
  background-color: #F1C40F;
}

.category4{
  margin-top: 5px;
  background-color: #D35400;
}
